<h4>{{article.title}}</h4>
<div class="level_word">
    <span class="level">{{article.level}}</span>
    <span class="ms-auto"> <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="Example home icon" fontIcon="translate"></mat-icon> {{article.wordCount}} </span>
</div>
<div class="time">
    <span>
        <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="Example home icon" fontIcon="hourglass_empty"></mat-icon> 
        @if(article.wordCount){
            {{estimatedTime(article.wordCount)}}
        }
    </span>
</div>