:host{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 248px;
    min-width: 248px;
    height: 180px;
    background: var(--background-1);
    border-radius: 16px;
    padding: 16px;
    cursor: pointer;

    &:hover{
        background: var(--background-0);
    }

    h4{
        font-family: 'Merriweather';
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2; 
        -webkit-box-orient: vertical;
     
    }

    .level_word{
        display: flex;

        span{
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 6px 16px;
            border-radius: 8px;
            border: 1px solid var(--shade-1);

            .mat-icon{
                width: 18px;
                height: 18px;
                font-size: 18px;
            }
        }
    }
}