<h5>
  Login
</h5>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input [(ngModel)]= "email" type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
               placeholder="Ex. pat@example.com">
        <mat-hint></mat-hint>
        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
        }
        @if (emailFormControl.hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>password</mat-label>
        <input [(ngModel)]= "password" type="password" matInput [formControl]="passFormControl" [errorStateMatcher]="matcher"
               placeholder="Ex. pat@example.com">
        <mat-hint></mat-hint>
        @if (passFormControl.hasError('required')) {
          <mat-error>Password is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <button mat-raised-button class="ea_button bg_tertiary c_white" color="primary" (click)="submit()">Submit</button>
</form>

<div class="d-flex forgot">
  <span>Forgot your password?</span>
  <a [routerLink]="['/lobby/resetPassword/reset']" routerLinkActive="router-link-active"  class="ms-auto">Reset password</a>
</div>

<div class="d-flex forgot">
  <span>Don't have a registered user?</span>
  <a [routerLink]="['/lobby/signup']" routerLinkActive="router-link-active"  class="ms-auto">Sign up</a>
</div>

@if(loading){
  <app-loading></app-loading>
}