@if (!signupSuccess) {
  <h5 class="mb-2">
    Sign Up
  </h5>
  <form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input [(ngModel)]= "username" type="text" matInput [formControl]="unameFormControl" [errorStateMatcher]="matcher"
               placeholder="Ex. pat@example.com">
        <mat-hint></mat-hint>
        @if (unameFormControl.hasError('required')) {
          <mat-error>Username is <strong>required</strong></mat-error>
        }
        @if (unameFormControl.hasError('minlength')) {
            <mat-error>At least <strong>4</strong> character long</mat-error>
          }
      </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input [(ngModel)]= "email" type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
               placeholder="Ex. pat@example.com">
        <mat-hint></mat-hint>
        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
        }
        @if (emailFormControl.hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>password</mat-label>
        <input [(ngModel)]= "password" type="password" matInput [formControl]="passFormControl" [errorStateMatcher]="matcher"
               placeholder="Ex. pat@example.com">
        <mat-hint></mat-hint>
        @if (passFormControl.hasError('required')) {
          <mat-error>Password is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <button mat-raised-button class="ea_button bg_tertiary c_white" color="primary" (click)="submit()">Submit</button>
  </form>
  <div class="d-flex my-4">
      <span>Already have a user?</span>
      <a [routerLink]="['/lobby/login']" routerLinkActive="router-link-active"  class="ms-auto">Login</a>
  </div>
} @else {

  <h5 class="mb-2">
    You've Successfully Registered!
  </h5>
  <p>
    Thank you, {{username}}! Your registration has been completed. <br><br>
    To complete the activation process, please click on the activation link we've sent to your <b>email address</b> <br><br>
    <!-- If you can't find the email, please check your spam folder or click [here] to resend the activation email. -->
  </p>


  <button mat-raised-button class="ea_button w-100 justify-content-center bg_tertiary c_white" color="primary" [routerLink]="['/lobby/login']">Go to Login</button>
}

@if(loading){
  <app-loading></app-loading>
}
