:host{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    height: 100%;
    background: var(--blue-dark);

    app-logo-basic{
        margin: 32px;
        height: 200px;
    }

    .onboarding_cont{
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 32px;
        background: var(--background-3);
    }
}