:host{


    &.mobile{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: end;
        justify-content: center;
        z-index: 4;
        background: rgba($color: #000000, $alpha: .2);

        .translate_dialog{
            overflow: hidden;
            background: var(--background-1);
            width: 100%;
            gap: 4px;
            // padding-bottom: 96px;
            display: flex;
            border-top-right-radius: 16px;
            border-top-left-radius: 16px;
            flex-direction: column;
        }
    }

    &.web{
        position: fixed;
        user-select: none;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 4;
        background: rgba($color: #000000, $alpha: .2);

        .translate_dialog{
            overflow: hidden;
            background: var(--background-1);
            width: 320px;
            gap: 4px;
            display: flex;
            border-radius: 16px;
            flex-direction: column;
        }
    }



    .td_head{
        display: flex;
        padding: 12px 20px;
        align-items: center;
        background: var(--background-0);

        mat-icon{
            font-size: 20px;
            width: 20px;
            height: 20px;
        }
    }

    .td_content{
        display: flex;
        align-items: center;
        padding: 12px 20px;
        line-height: 1.3;
        font-size: 22px;

        .material-icons-outlined{
            font-size: 32px;
            width: 32px;
            height: 32px;

            &:hover{
                color: var(--tertiary);
            }
        }
    }

    .td_results{
        margin: 10px 0;
        font-size: 12px;
        padding: 0 20px;
        gap: 4px;
        line-height: 1.4;
        color: var(--primary);
        list-style: none;
        display: flex;
        flex-direction: column;

            span{
                margin-bottom: 6px;
            }

            li{

                &.translate{
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    color: var(--shade-1);
                    font-size: 16px;
                    padding: 12px 10px;
                }


                &.loading_grad{
                    border-radius: 4px;
                    height: 32px;
                }
            }
    }

    .survey{
        display: flex;
        flex-direction: column;
        gap: 10px;
        line-height: 1.4;
        padding: 0 20px 20px 20px;
        font-size: 12px;
        color: var(--primary);

        .votes{
            display: flex;
            gap: 10px;

            div{
                border-radius: 4px;
                color: var(--shade-1);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                flex-grow: 1;
                background: var(--separation-1);
                height: 44px;
            }
        }
    }

}