<div class="translate_dialog">
    <div class="td_head">
       <span></span> <mat-icon (click)="close()" class="material-icons-outlined ms-auto clickable" aria-hidden="false" fontIcon="close"></mat-icon>
    </div>
    <div class="td_content">
        <span>
            {{translateText}}
        </span>
        <mat-icon class="material-icons-outlined ms-2 clickable" (click)="speakText()" fontIcon="volume_down_black"></mat-icon>
    </div>
    <ul class="td_results">
        <span>Turkish translation(s)</span>
        @if(translatedList.length){
            @for(item of translatedList; track $index){
                <li class="translate">
                    <mat-icon class="material-icons-outlined me-2 clickable" aria-hidden="false" fontIcon="add"></mat-icon> {{item}}
                </li>
            }
        }@else{
            <li class="loading_grad">
            </li>
            <li class="loading_grad">
            </li>
        }
    </ul>
    <div class="survey">
        <span>Rate your familiarity for this translation</span>
        <div class="votes">
            <div>
                unknown
            </div>
            <div>
                familiar
            </div>
            <div>
                known
            </div>
        </div>

    </div>
</div>