:host {
    display: flex;
    padding: 16px 0px;
    align-items: center;
    color: var(--white);
    width: 100%;

    nav {
        display: flex;
        gap: 32px;
        height: 64px;
        align-items: center;
        margin-left: auto;
    }

    a {
        text-decoration: none;
        color: var(--white);

        &.site-button {
            padding: 0 16px;
            display: flex;
            align-items: center;
            height: 48px;
            border-radius: 12px;
            border: 1px solid var(--white);
        }
    }

    app-logo-basic {
        height: 64px;
        width: auto;
    }
}


@media (max-width:912px) {
    :host{
        padding: 12px 16px;
        zoom: .95;
    }

    nav{
        gap: 16px !important;
    }

    app-logo-basic {
        height: 48px !important;
        width: auto;
    }


    .site-button {
        padding: 0 12px !important;
        height: 44px !important;
    }
}