<div class="lang_modal">
    <h4 class="d-flex align-items-center mb-4">Import Content <mat-icon (click)="close()" class="material-icons-outlined ms-auto clickable" aria-hidden="false" fontIcon="close"></mat-icon></h4>
    <h6>EPUB</h6>
    <div class="drop_cont">
        <div class="file-drop-area">
            <span class="fake-btn">Choose file</span>
            <span class="file-msg">or drag and drop file here</span>
            <input [(ngModel)]="test" class="file-input" multiple="false" accept=".epub" id="myFile" type="file">
        </div>
    </div>
    <h6>HTML</h6>
    <input [(ngModel)]="htmlUrl" type="url" placeholder="Ex. example.com">

    @if (loading) {
        <app-loading></app-loading>
    }

</div>
