@media (min-width:912px) {
    :host {
        background: var(--blue-dark);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .site_cont {
            flex: 1;
            color: var(--white);
            display: flex;
            flex-direction: column;
            width: calc(100% - 128px);
    
            .hero {
                display: flex;
    
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-family: 'Merriweather';
                }
    
                .hero_content{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background: var(--white);
                    padding: 48px;
                    color: var(--blue-dark);
                }
    
                .hero_img{
                    display: flex;
                    flex: 1;
                    align-items: end;
    
                    img{
                        object-fit: cover;
                        width: 100%;
                        height: auto;
                    }
    
                    svg{
                        width: 100%;
                        height: auto;
                    }
                }
    
                .benefits {
                    gap: 24px;
                    margin: 48px 0;
                    display: flex;
                    flex-direction: column;
                    
                    h5{
                        font-weight: 400;
                        font-family: 'Roboto';
                        margin-bottom: 0;
                    }

                    li {
                        gap: 10px;
                        display: flex;
                        align-items: center;
                    }
    
                    .mat-icon {
                        // color: var(--white);
                    }
                }
            }
        }
    }
}

@media (max-width:980px) {
    .hero_content{
        zoom: .875;
    }
}

@media (max-width:912px) {
    :host {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .site_cont {
            background: var(--blue-dark);
            flex: 1;
            color: var(--white);
            display: flex;
            width: 100%;
            flex-direction: column;

            .hero {
                display: flex;
                flex-direction: column;
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-family: 'Merriweather';
                }
    
                .hero_content{
                    zoom: 1;
                    flex-direction: column;
                    background: var(--white);
                    padding: 32px;
                    color: var(--blue-dark);
                }
    
                .hero_img{
                    display: flex;
    
                    img{
                        object-fit: cover;
                        width: 100%;
                        height: auto;
                    }
    
                    svg{
                        width: 100%;
                        height: auto
                    }
                }
    
                .benefits {
                    gap: 24px;
                    margin: 48px 0;
                    display: flex;
                    flex-direction: column;
                    
                    h5{
                        font-weight: 400;
                        font-family: 'Roboto';
                        margin-bottom: 0;
                    }

                    li {
                        gap: 10px;
                        display: flex;
                        align-items: center;
                    }
    
                    .mat-icon {
                        // color: var(--white);
                    }
                }
            }
        }
    }
}