<div class="site_cont">
    <app-site-nav></app-site-nav>
    <div class="hero">
        <h5>Dive into the World of Languages </h5>
        <h2>
            Immersive <br>
            Reading and Learning! 🌍✨
        </h2>
        <ul class="benefits">
            <li>
                <mat-icon class="material-icons-outlined" aria-hidden="false" fontIcon="library_books"></mat-icon>
                200+ article & story
            </li>
            <li>
                <mat-icon class="material-icons-outlined" aria-hidden="false" fontIcon="book"></mat-icon>
                EPUB reader
            </li>
            <li>
                <mat-icon class="material-icons-outlined" aria-hidden="false" fontIcon="collections_bookmark"></mat-icon>
                Focused on reading and learning
            </li>

        </ul>
        <div class="ea_button bg_tertiary" [routerLink]="['/onboarding/signup']" routerLinkActive="router-link-active" >
            Get Started
        </div>
    </div>
</div>