:host{
    font-family: "Source Serif 4", serif;
    line-height: 1.75;
    display: flex;
    flex-direction: column;
    padding-bottom: 128px;

    .chapter{
        cursor: pointer;
        padding: 16px 0;
        margin: 8px 0;
        border-bottom: 1px solid var(--separation-1);
        &:hover{
            color: var(--tertiary);
        }

        h2 >span{
            font-size: 18px;
        }

        p{
            overflow: hidden;
            display: -webkit-box;
            font-size: 20px;
            line-height: 1.6;
            -webkit-line-clamp: 2; /* number of lines to show */
                    line-clamp: 2; 
            -webkit-box-orient: vertical;
            opacity: .85;
        }
    }
}

@media (max-width:912px) {
    :host{
        padding: 0 16x;
    }
}

.header{
    position: sticky;
    top: 0px;
    padding: 0;
    z-index: 2;

}