:root{
    --primary: #84644D;
    --primary-light: #F2E4D3;

    --background-0: #F9F1E9;
    --background-1: #F9F5F2;
    --background-2: #FFFCFB;
    --background-3: #FFFFFF;
    --shade-1: #2E1502;

    --separation-1: rgba(0, 0, 0, .1);
}