@media (min-width:720px) {
    .header {
        height: 64px;
        display: flex;
        align-items: center;
    }

    .logo {
        display: flex;
        height: 48px;
        width: auto;
    }
}


@media (max-width:720px) {
    .header {
        padding: 0 20px;
        height: 64px;
        display: flex;
        align-items: center;
    }

    .logo {
        display: flex;
        height: 48px;
        width: auto;
    }
}

.ea_button {
    border: none;
    outline: none;
    cursor: pointer;
    width: fit-content;
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 48px;
    border-radius: 12px;
}