@media (min-width:912px) {
    .header {
        height: 64px;
        display: flex;
        align-items: center;
        background: var(--background-2);

        .logout{
            &:hover{
                color: var(--tertiary);
            }
        }
    }

    .logo {
        display: flex;
        height: 48px;
        width: auto;
    }
}


@media (max-width:912px) {
    .header {
        background: var(--background-2);
        padding: 0 20px;
        height: 64px;
        display: flex;
        align-items: center;

        .logout{
            &:hover{
                color: var(--tertiary);
            }
        }
    }

    .logo {
        display: flex;
        height: 48px;
        width: auto;
    }
}

.ea_button {
    border: none;
    outline: none;
    cursor: pointer;
    width: fit-content;
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 48px;
    border-radius: 12px;

    &.btn_sm{
        font-size: 14px;
        padding: 0 12px;
        height: 32px;
    }

    &.btn_md{
        height: 48px;
        padding: 0 16px;
    }

    &.btn_lg{
        font-weight: 400;
        font-size: 20px;
        height: 64px;
        padding: 0 24px;
    }

    &.btn_hg{
        font-weight: 400;
        font-size: 24px;
        height: 96px;
        padding: 0 32px;
    }
}

.example-form{
    display: flex;
    gap: 8px;
    width: 320px;
    flex-direction: column;

    .ea_button{
        width: 100%;
        justify-content: center;
    }
}