<div class="nav_item">
    <div class="icon">
        <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </div>
    Home
</div>
<div class="nav_item">
    <div class="icon">
        <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="Example home icon" fontIcon="translate"></mat-icon>
    </div>
    Words
</div>
<div class="nav_item">
    <div class="icon">
        <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
    </div>
    Settings
</div>