
@media (min-width:912px){
    :host{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        bottom: 0;
        left: 0;
        top: 0;
        width: 80px;
        background: var(--background-1);
        font-size: 12px;
        gap: 12px;
        padding: 12px 0;
        
        .nav_item{
            align-items: center;
            display: flex;
            flex-direction: column;
            padding: 4px 4px 7px 4px;
            gap: 4px;
            cursor: pointer;
    
            .icon{
                width: 64px;
                display: flex;
                justify-content: center;
                padding: 4px;
                border-radius: 16px;
            }

            &:hover{
                .icon{background: var(--primary-light);}
            }
        }
    }
}


@media (max-width:912px) {
    :host{
        border-top: 1px solid var(--separation-1);
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 0;
        left: 0;
        right: 0;
        height: 80px;
        background: var(--background-1);
        padding: 0 8px;
    }

    .nav_item{
        align-items: center;
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 4px 4px 7px 4px;
        gap: 4px;

        cursor: pointer;

        .icon{
            width: 64px;
            display: flex;
            justify-content: center;
            padding: 4px;
            border-radius: 16px;
        }

        &:hover{
            .icon{background: var(--primary-light);}
        }
    }
}