
@media (min-width:912px){
    .app_body{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        overflow: auto;
        align-items: center;
        justify-content: center;
        background: var(--background-2);

        .app_container{
            height: 100%;
            display: flex;
            flex-direction: column;
            width:  720px;
            max-width:  720px;
        }
    }
}

@media (max-width:912px) {
    .app_body{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 80px;
        display: flex;
        overflow: auto;
        align-items: center;
        justify-content: center;
        background: var(--background-2);
    
        .app_container{
            height: 100%;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 100%;
        }
    }
}