:host{
    display: flex;
    flex-direction: column;
    .p{
        line-height: 1.6;
        font-size: 20px;
        opacity: .85;
    }


    .header{
        position: sticky;
        top: 0px;
        padding: 0;
        z-index: 2;
    }

    *::selection{
        font-weight: 700 !important;
        border-radius: 4px;
        background: rgba(153, 234, 203, .8);
    }
    
}