@if (chapterData) {
    <div class="header">
        <app-logo-basic class="logo"></app-logo-basic>

        <div (click)="close()" class="logout clickable"><mat-icon class="material-icons-outlined ms-2 me-1" aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back"></mat-icon> Back to book</div>
        @if(playingAudio){
            <button (click)="stopSpeakText()" mat-raised-button class="ea_button justify-content-center ms-auto bg_tertiary c_white">
                <mat-icon class="material-icons-outlined me-2" aria-hidden="false" aria-label="Example home icon" fontIcon="stop_circle"></mat-icon>
                Stop audio
            </button>
        }@else{
            <button (click)="speakText()" mat-raised-button class="ea_button justify-content-center ms-auto bg_tertiary c_white">
                <mat-icon class="material-icons-outlined me-2" aria-hidden="false" aria-label="Example home icon" fontIcon="play_circle"></mat-icon>
                Start audio
            </button>
        }

    </div>

    <div class="d-flex">
        @if (chapterData.title) {
            <h1 class="article_header my-4"> {{chapterData.title}} </h1>
        }@else {
            <h1 class="article_header my-4"> Untitled Chapter </h1>
        }

    </div>

    @if(OS == 'Windows' || OS == 'MacOS' ||  OS == 'Linux'){
        @for (section of chapterData.contents; track $index) {
            <div #sectionRef [ngClass]="{'readingNow': $index == currentSectionIndex && playingAudio}">
                @if (section.tag == 'p') {
                    <p [id]="section.id" class="my-2 lang-cont p" (click)="getClickedWord($event)">
                    {{section.content}}
                    </p>
                }@else if (section.tag == 'h1') {
                    <h2 class="my-2 lang-cont" (click)="getClickedWord($event)">
                    {{section.content}}
                    </h2>
                }@else if (section.tag == 'h2') {
                    <h2 class="my-2 lang-cont" (click)="getClickedWord($event)">
                    {{section.content}}
                    </h2>
                }@else if (section.tag == 'h3') {
                    <h3 class="my-2 lang-cont" (click)="getClickedWord($event)">
                    {{section.content}}
                    </h3>
                }@else if (section.tag == 'h4') {
                    <h4 class="my-2 lang-cont" (click)="getClickedWord($event)">
                    {{section.content}}
                    </h4>
                }@else if (section.tag == 'h5') {
                    <h5 class="my-2 lang-cont" (click)="getClickedWord($event)">
                    {{section.content}}
                    </h5>
                }
                @else if (section.tag == 'h6') {
                    <h6 class="my-2 lang-cont" (click)="getClickedWord($event)">
                    {{section.content}}
                    </h6>
                }
            </div>
        }
    }@else if(OS == 'ipadOS' || OS == 'iOS'){
        @for (section of chapterData.contents; track $index) {
            <div #sectionRef [ngClass]="{'readingNow': $index == currentSectionIndex && playingAudio}">
                @if (section.tag == 'p') {
                    <p [id]="section.id" class="my-2 lang-cont p" (touchend)="getClickedWord($event)">
                    {{section.content}}
                    </p>
                }@else if (section.tag == 'h1') {
                    <h2 class="my-2 lang-cont" (touchend)="getClickedWord($event)">
                    {{section.content}}
                    </h2>
                }@else if (section.tag == 'h2') {
                    <h2 class="my-2 lang-cont" (touchend)="getClickedWord($event)">
                    {{section.content}}
                    </h2>
                }@else if (section.tag == 'h3') {
                    <h3 class="my-2 lang-cont" (touchend)="getClickedWord($event)">
                    {{section.content}}
                    </h3>
                }@else if (section.tag == 'h4') {
                    <h4 class="my-2 lang-cont" (touchend)="getClickedWord($event)">
                    {{section.content}}
                    </h4>
                }@else if (section.tag == 'h5') {
                    <h5 class="my-2 lang-cont" (touchend)="getClickedWord($event)">
                    {{section.content}}
                    </h5>
                }
                @else if (section.tag == 'h6') {
                    <h6 class="my-2 lang-cont"  (touchend)="getClickedWord($event)">
                    {{section.content}}
                    </h6>
                }
            </div>
        }
    }@else if(OS == 'Android'){
        @for (section of chapterData.contents; track $index) {
            <div #sectionRef [ngClass]="{'readingNow': $index == currentSectionIndex && playingAudio}">
                @if (section.tag == 'p') {
                    <p [id]="section.id" class="my-2 lang-cont p" oncontextmenu="event.preventDefault()">
                    {{section.content}}
                    </p>
                }@else if (section.tag == 'h1') {
                    <h2 class="my-2 lang-cont" oncontextmenu="event.preventDefault()">
                    {{section.content}}
                    </h2>
                }@else if (section.tag == 'h2') {
                    <h2 class="my-2 lang-cont" oncontextmenu="event.preventDefault()">
                    {{section.content}}
                    </h2>
                }@else if (section.tag == 'h3') {
                    <h3 class="my-2 lang-cont" oncontextmenu="event.preventDefault()">
                    {{section.content}}
                    </h3>
                }@else if (section.tag == 'h4') {
                    <h4 class="my-2 lang-cont" oncontextmenu="event.preventDefault()">
                    {{section.content}}
                    </h4>
                }@else if (section.tag == 'h5') {
                    <h5 class="my-2 lang-cont" oncontextmenu="event.preventDefault()">
                    {{section.content}}
                    </h5>
                }
                @else if (section.tag == 'h6') {
                    <h6 class="my-2 lang-cont" oncontextmenu="event.preventDefault()">
                    {{section.content}}
                    </h6>
                }
            </div>
        }
    }

}
@if (translation && OS !== 'Android') {
    <app-translate-dialog [ngClass]="OS == 'Android' || OS == 'iOS' ? 'mobile' : 'web'" (closingEvent)="closeTranslate()" [translatedText]="translated" [userWord]="userWord" [translateText]="translation"></app-translate-dialog>
}

@if (androidTranslation && showAndroidTranslation) {
    <app-translate-dialog [ngClass]="OS == 'Android' || OS == 'iOS' ? 'mobile' : 'web'" (closingEvent)="closeTranslate()" [translatedText]="translated" [userWord]="userWord" [translateText]="androidTranslation"></app-translate-dialog>
}

@if (translation && OS == 'Android'){
    <div class="translate_android">
        <div class="td_content">
            {{translation}}
        </div>        
        <button [disabled]="maxCharAndroid" [ngClass]="{'ea_disabled': maxCharAndroid}" (click)="translateForAndroid()" mat-raised-button class="ea_button w-100 justify-content-center bg_tertiary c_white">Translate this</button>
    </div>
}
