:host{
    display: flex;
    flex-direction: column;
    .p{
        line-height: 1.6;
        font-size: 22px;
        opacity: .85;
    }


    .header{
        position: sticky;
        top: 0px;
        padding: 0;
        z-index: 2;
    }

    *::selection{
        font-weight: 700 !important;
        border-radius: 4px;
        background: rgba(153, 234, 203, .8);
    }

    .readingNow{
        background: var(--background-1) !important;
        padding: 0 8px;
        margin-left: -8px;
        width: calc(100% + 16px);
        border-radius: 8px;
    }

    .translate_android{
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 4;
        padding: 0 20px 10px 20px;
        background: var(--background-1);


        .td_content{
            padding: 12px 0;
            line-height: 1.3;
            font-size: 22px;
        }

        .ea_disabled{
            opacity: .4;
            user-select: none;
        }

    }
    
}