<div class="header">
    <app-logo-basic class="logo"></app-logo-basic>

    <div (click)="logout()" class="logout clickable ms-auto">logout</div>
</div>

<div class="list_section">
    <div class="ls_header">
        Article List
    </div>
    <div class="ls_list">
        <app-reading-list-item [title]="title" [type]="2"></app-reading-list-item>
        <app-reading-list-item [title]="title" [type]="2"></app-reading-list-item>
        <app-reading-list-item [title]="title" [type]="2"></app-reading-list-item>
        <app-reading-list-item [title]="title" [type]="2"></app-reading-list-item>
        <app-reading-list-item [title]="title" [type]="2"></app-reading-list-item>
        <app-reading-list-item [title]="title" [type]="2"></app-reading-list-item>
    </div>
</div>

