@media (min-width:912px){
    .list_section{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 16px 0;

        h5{
            font-weight: 300;
        }
    
        .ls_header{
            display: flex;
            align-items: center;
            height: 44px;
            border-bottom: 1px solid var(--separation-1);

            span{
                font-size: 14px;
            }
        }
    
        .ls_list{
            overflow: auto;
            padding: 12px 0px;
            display: flex;
            gap: 8px;
        }
    }
}
.ls_list{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
}

.logout{
    font-weight: 400;
    display: flex;
    align-items: center;
}

@media (max-width:912px) {
    .list_section{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 16px 0;

        h5{
            font-weight: 300;
        }
    
        .ls_header{
            padding: 0 20px;
            display: flex;
            align-items: center;
            height: 44px;
            border-bottom: 1px solid var(--separation-1);

            span{
                font-size: 14px;
            }
        }
    
        .ls_list{
            overflow: auto;
            padding: 12px 20px;
            display: flex;
            gap: 8px;
        }
    }
}