<div class="header">
    <app-logo-basic class="logo"></app-logo-basic>

    <div (click)="logout()" class="logout clickable ms-auto">logout</div>
</div>

@if (showImportArticle) {
    <app-import-articles></app-import-articles>
}

<div class="list_section">
    <h5 class="ls_header">
        Continue Reading
        <span class="ms-auto clickable">See more</span>
    </h5>
    <div class="ls_list">
        @for (article of articles; track $index) {
            <app-reading-list-item (click)="goToArticle(article.id)" [article]="article"></app-reading-list-item>
        }
    </div>
</div>

<div class="list_section">
    <h5 class="ls_header">
        Library
        <span class="ms-auto clickable">See more</span>
    </h5>
    <div class="ls_list">
        @for (article of articles; track $index) {
            <app-reading-list-item (click)="goToArticle(article.id)" [article]="article"></app-reading-list-item>
        }
    </div>
</div>

<div class="list_section">
    <h5 class="ls_header">
        Imported Contents 
        <mat-icon (click)="toggleShowImportArticle()" class="material-icons-outlined ms-2 clickable" aria-hidden="false" fontIcon="add_circle_outline"></mat-icon>

        <span class="ms-auto clickable">See more</span>
    </h5>
    <div class="ls_list">
        @for (article of articles; track $index) {
            <app-reading-list-item (click)="goToArticle(article.id)" [article]="article"></app-reading-list-item>
        }
    </div>
</div>

